<div class="painting_group_list">

  {% for post in site.posts %}
   {% unless post.publish %}
    {% unless post.tags contains 'sold' %}
      <div class="painting_link_box">

        <a class="painting_link" href="{{ post.url }}">

          {% comment %}
          assign the page image and split at the extension dot
          {% endcomment %}

          {% assign f = post.image | split: '.' %}

          <img class="" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
               srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
                       {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
                       {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                       {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
               sizes="100vw" alt="{{ page.name }} - {{ page.subtitle }}" />

          <div class="painting_title"><strong>{{ post.title }}</strong>, {{ post.dimensions }} cm</div>

        </a>

      </div>
    {% endunless %}
   {% endunless %}
  {% endfor %}

</div>
